<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="./box.css">
</head>
<body>

<div class="markrun-box">
    <div class="markrun-box-preview">
        <div class="markrun-box-preview-node">
                <label for="">
                    <input type="checkbox"> 选择
                </label>
        </div>
        <div class="markrun-box-preview-doc">
            <div class="markrun-box-preview-doc-title">
                <span class="markrun-box-preview-doc-title-text">
                    标题
                </span>
            </div>
            <div class="markrun-box-preview-doc-desc">
                使用 v-model 可以双向绑定数据。
            </div>
        </div>
    </div>
    <div class="markrun-box-code">
        <span class="markrun-box-code-copy">COPY</span>
        <pre class="markrun-box-code-source" >
&lt;template&gt;
    &lt;Checkbox v-model="single"&gt;Checkbox&lt;/Checkbox&gt;
&lt;/template&gt;
&lt;template&gt;
    &lt;Checkbox v-model="single"&gt;Checkbox&lt;/Checkbox&gt;
&lt;/template&gt;
&lt;template&gt;
    &lt;Checkbox v-model="single"&gt;Checkbox&lt;/Checkbox&gt;
&lt;/template&gt;
&lt;template&gt;
    &lt;Checkbox v-model="single"&gt;Checkbox&lt;/Checkbox&gt;
&lt;/template&gt;
        </pre>
    </div>
    <span class="markrun-box-toggle"></span>
</div>


<div class="markrun-box markrun-box--open">
    <div class="markrun-box-preview">
        <div class="markrun-box-preview-node">
                <label for="">
                    <input type="checkbox"> 选择
                </label>
        </div>
        <div class="markrun-box-preview-doc">
            <div class="markrun-box-preview-doc-title">
                <span class="markrun-box-preview-doc-title-text">
                    标题
                </span>
            </div>
            <div class="markrun-box-preview-doc-desc">
                使用 v-model 可以双向绑定数据。
            </div>
        </div>
    </div>
    <div class="markrun-box-code">
        <span class="markrun-box-code-copy">COPY</span>
        <pre class="markrun-box-code-source" >
&lt;template&gt;
    &lt;Checkbox v-model="single"&gt;Checkbox&lt;/Checkbox&gt;
&lt;/template&gt;
&lt;template&gt;
    &lt;Checkbox v-model="single"&gt;Checkbox&lt;/Checkbox&gt;
&lt;/template&gt;
&lt;template&gt;
    &lt;Checkbox v-model="single"&gt;Checkbox&lt;/Checkbox&gt;
&lt;/template&gt;
&lt;template&gt;
    &lt;Checkbox v-model="single"&gt;Checkbox&lt;/Checkbox&gt;
&lt;/template&gt;
        </pre>
    </div>
    <span class="markrun-box-toggle"></span>
</div>

</body>
</html>
